

<ion-header class="ion-no-border">

  <ion-item lines="none"  >
    <ion-avatar class="avatar" slot="end">
      <img src="/assets/HomeProfile.png">
    </ion-avatar>
    <ion-label>
      <h3>Hi! I'm</h3>
      <h2>Mikael Joyce B. Abelgas</h2>
      <p>I am a 2nd year BSIT student at Pamantasan Ng Lungsod Ng Valenzuela.</p>
    </ion-label>
  </ion-item>
  
</ion-header>
<ion-content>

 <ion-card lines="none" color="violet" >
  <ion-list class="ion-no-border">
    <ion-item lines="none">
      <ion-label>HOBBIES/LIKES/TALENT

        <p>Watching Kdrama</p><br>
        <p>Watching movies</p><br>
        <p>Listening to music</p>
      </ion-label>
  
    </ion-item>
    <ion-item lines="none">
      <ion-label>HOW DO I SEE MYSELF IN 5 YEARS?
        <p>Working on my dream job</p><br>
        <p>Travelling</p>
       
      </ion-label><br>
     
    </ion-item >
    <ion-item lines="none">
      <ion-label>STRENGTHS AND WEAKNESSES
      
      <p>Eager to acquire new knowledge</p>
      <p>Proactive and self-motivated</p>
      <p>Overly critical of my own work</p>
      </ion-label>
    </ion-item >
    <ion-item lines="none">
      <ion-label>MOTTO
        <p>Mistakes are proof that you are trying.</p>
      </ion-label>
      
    </ion-item>
    <ion-item lines="none">
      <ion-label>LOVE LANGUAGE
        <p><strong>Quality time</strong> because I value deep connections and meaningful interactions with my loved ones.</p>
      </ion-label><br>
    </ion-item>
    <ion-item lines="none">
      <ion-label>TYPE OF FOOD
        <p>I might be <strong>adobo</strong> because, like this dish, I adapt well to different situations, or i eventually learn things i've thought on and thrive in various environments.

      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>PET PEEVE
        <p>Loud Chewing</p>
      </ion-label><br>
    </ion-item>
  </ion-list>
  
  </ion-card>
 
</ion-content>
