.container {
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.content-box {
  flex-grow: 1;
}

.btn {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  margin-bottom: 10px;
}

.btn ion-button {
  width: 100%;
}
